In [1]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [2]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을수 있음.
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [3]:
#입력값도 결과값도 없는 함수
def say():
    print('Hi')
say()

Hi

In [4]:
# 입력값과 결과값이 다 있는 함수
def add(a,b,c):
    result = a * b + c
    return result
z = add(7,8,2)
print(z)

58

In [5]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))

숫자1 : 2
숫자2 : 3
기호 : +
5

In [6]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어줌
def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5)

15

In [7]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [8]:
# add_mul()함수를 정의하여 1,2,3,4,5,를 입력 값으로 적용하여 덧셈, 곱셈 연산을 수행하라
def add_mul(choice), *args):
    return a+b, a*b
result = add_and_mul('+', '*')
add_mul('add',1,2,3,4,5)

SyntaxError: invalid syntax (Temp/ipykernel_3704/2094527910.py, line 2)

In [9]:
def add_mul(choice, *args):
    add = 0
    mul = 1
    if choice == 'add':
        for i in args:
            add += i
        return add
    elif choice == 'mul':
        for i in args:
            mul *= i
        return mul
    
    
choice = input('add or mul> ')

add_mul(choice,1,2,3,4,5)

add or mul> add

15

In [ ]:
#[과제] 뺼셈, 나누셈 멀티 계산 함수 작성
#('sub',2,4,6,8,10)
#('div',2,4,6,8,10)

In [7]:
def add_mul(choice, *args):
    sub = 0
    div = 1
    if choice == 'sub':
        for i in args:
            sub -= i
        return sub
    elif choice == 'div':
        for i in args:
            div /= i
        return div
        
choice = input('sub or div> ')

add_mul(choice,2,4,6,8,10)

sub or div> sub

-30

In [8]:
def sub_div(choice,*args):
    if choice == 'sub':
        result = args[0]
        for i in range(1,len(args)):
            result -= args[i]
        return result
            
    elif choice == 'div':
        if 0 in args:
            return 'failed to calculate'
        result = args[0]
        for i in range(1,len(args)):
            result /= args[i]
        return result
    else:
        return 'wrong input'
        
sub_div('div',2,4,6,8,10)

0.0010416666666666667

In [ ]:
f = open('test.txt', 'w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [10]:
f = open('test.txt', 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [10]:
# 함수 안에서 선언한 변수의 효력 범
a = 1
def vartest(a):
    a = a + 1
print(vartest(a))
print(a)

None
1

In [11]:
# 함수 안에서 한수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a = a+1
    return a
a = vartest(a)
print(a)

2

In [14]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

In [15]:
%pwd

'C:\\cakd5\\workspace\\m1_programming'

In [16]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [42]:
f = open('test1.txt', 'w')
for i in range(1,11):
    data = '%d번쨰 줄입니다.\n' %i
    f.write(data)
f.close()

In [43]:
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번쨰 줄입니다.

In [45]:
f = open('test1.txt','r')
for i in range(1,10):
    line = f.readline()
    print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

In [47]:
f= open('test1.txt', 'r')
for i in range(2,10):
   line = f.readline()
   print(line)
f.close

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

In [48]:
f = open('test1.txt', 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

In [73]:
# f.read()는 파일 내용 전체를 문자열로 변환
f = open('test1.txt', 'r')
data = f.read()
print(data)
f.close()

(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.

In [99]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번쨰 줄입니다.\n' %i
    f.write(data)
f.close()

In [93]:
f = open('test1.txt', 'r')
data = f.read()
print(data)
f.close()

(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.
(i)번째 줄입니다.
11번쨰 줄입니다.
12번쨰 줄입니다.
13번쨰 줄입니다.
14번쨰 줄입니다.
15번쨰 줄입니다.

In [55]:
# with문과 같이 사용
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [56]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [62]:
with open('foo.txt', 'w') as f:
    f.write('함수를 배웁시다.')

In [64]:
with open('foo.txt', 'r') as f:
    data = f.read()
    print(data)

함수를 배웁시다.

In [96]:
with open('test1.txt', 'w') as f:
    for i in range(1,11):
        data = f'(i)번째 줄입니다.\n'
        f.write(data)

In [97]:
with open('test1.txt', 'w') as f:
    for i in range(11,16):
        data = f'(i)번째 줄입니다.\n'
        f.write(data)

In [98]:
with open('test.txt', 'r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [78]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면  False
print(chr(65))

3
False
True
A

In [79]:
sum = lambda a,b: a + b
sum(3,4)

7

In [80]:
myList = [lambda a,b: a+b, lambda a,b: a*b]
print(myList[0](3,4))
print(myList[1](5,6))

7
30

In [90]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [89]:
list(range(5))
list(range(1,6))
list(range(1,10,2))
list(range(0,-10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [100]:
print(divmod(7,3))

(2, 1)

In [105]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 eunmerate 객체를 리턴
for i, name in enumerate(['james', 'tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

In [107]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

3

In [111]:
li = [0,1,2,3,5,4]
li.sort(reverse=True)
li

[5, 4, 3, 2, 1, 0]

In [113]:
# 정렬된 결과를 변환하는 함수는 본체는 변형되지 않는다.
li = [0,2,1,5,4]
s = sorted(li)
print(s)
li

[0, 1, 2, 4, 5]

[0, 2, 1, 5, 4]

In [117]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리, 파이썬을 설치할때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test.txt','wb')
data = {1: 'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [118]:
import pickle
f = open('test.txt', 'rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [119]:
import os
os.environ['PATH']

'C:\\Users\\admin\\anaconda3\\envs\\cakd5;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\usr\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Users\\admin\\anaconda3\\bin;C:\\Users\\admin\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\Library\\bin;C:\\Users\\admin\\anaconda3\\Scripts;C:\\Users\\admin\\AppData\\Local\\Microsoft\\WindowsApps;'

In [120]:
%pwd

'C:\\cakd5\\workspace\\m1_programming'

In [ ]:
# 폴더변경
os.chdir("C:\cakd5\workspace")

In [ ]:
os.chdir("C:\\cakd5\\workspace\\m1_programming")

In [121]:
os.getcwd()

'C:\\cakd5\\workspace\\m1_programming'

In [26]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 8207-007B

 C:\cakd5\workspace\m1_programming 디렉터리

2021-12-31  오후 12:30    <DIR>          .
2021-12-31  오후 12:30    <DIR>          ..
2021-12-30  오후 02:48    <DIR>          .ipynb_checkpoints
2021-12-31  오전 11:32                16 foo.txt
2021-12-28  오후 04:47             2,423 Jupyter notebook 사용법.ipynb
2021-12-31  오후 12:18                40 test.txt
2021-12-31  오전 11:55               185 test_new.txt
2021-12-31  오후 12:16                40 text.txt
2021-12-31  오전 11:15               171 text1.txt
2021-12-31  오전 10:27            92,663 기초.ipynb
2021-12-28  오후 04:18            94,995 매직명령어.jpg
2021-12-31  오후 12:30            28,604 함수.ipynb
               9개 파일             219,137 바이트
               3개 디렉터리  937,262,903,296 바이트 남음

In [25]:
import os
os.rename('test1.txt', 'test_new.txt')

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'test1.txt' -> 'test_new.txt'

In [24]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\cakd5\workspace\m1_programming/*.txt ')

[]

In [18]:
import time
time.time()

1640921426.6932483

In [27]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=31, tm_hour=12, tm_min=32, tm_sec=17, tm_wday=4, tm_yday=365, tm_isdst=0)

In [29]:
time.asctime(time.localtime(time.time()))

'Fri Dec 31 12:33:15 2021'

In [32]:
#time.sleep(): 일정한  시간 간격을 두고 루프를 실행할 수 있음

import time
for i in range(5):
    print(i)
    time.sleep(1)

0
1
2
3
4

In [33]:
import calendar
print(calendar.prmonth(2021,12))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [38]:
# 요일(0 월요일 ~6 일요일)
print(calendar.weekday(2021,12,31))

4

In [39]:
# 1일의 요일, 날수
calendar.monthrange(2022,1)

(5, 31)

In [41]:
import webbrowser
webbrowser.open('http://google.com')

True

In [ ]:
# 내장 함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요

In [52]:
list = [0,1,2,3,4,5,6]
del list[2]
print(list)

[0, 1, 3, 4, 5, 6]

In [119]:
lt = [0, 1, 2, 3, 4, 5, 6]
print(lt)
lt.pop(2)
print(lt)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

In [118]:
lt = [0,1,2,3,4,5,6]
lt.remove(2)
lt

[0, 1, 3, 4, 5, 6]

In [ ]:
#내장 함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.

In [58]:
list = [0,1,2,3,4,5,6]
list.clear()
list

[]

In [ ]:
# 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [116]:
print((lambda x : x**2)(4))

16

In [2]:
square = lambda a: a*a 
lst = [square(i) for i in range(1,6)]
print(lst)

lst_2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a < 3), lst_2)

print(list(filtered_list))

[1, 4, 9, 16, 25]
[1, 2]

In [ ]:
#[1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요(내장함수, 사용자 함수 각각 이용)

In [3]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x > 0 , x))

[1, 2, 6]

In [ ]:
# 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] ->[(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6],[7,8,9] ->[(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','b'),('b','e'),('c','f')]

In [6]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

ab = list(zip([1,2,3], [4,5,6]))
print(ab)
                        
abc = list(zip([1,2,3], [4,5,6], [7,8,9]))
print(abc)

alp_1 = list(zip('abc', 'def'))
print(alp_1)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [8]:
num = [1,2,3]
lt = ['a','b','c']
for pair in zip(num,lt):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
n = 1260
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [9]:
# 입력으로 들어오는 모든 수의 평균값을 계산해주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요
def mid (*args):
    sum = 0
    for i in args:
        sum += i
    return sum/2

mid(1,2,3)

3.0

In [10]:
def avg(*args):
    sum=0
    for i in args:
        sum+=i
    return sum/len(args)
avg(1,2,3,4)

2.5

In [11]:
def avg(*args):
    sum = 0
    for i in range(len(args)):
        sum+=args[i]
        print(args[i])
    return sum/len(args)
print(avg(1,2,3))

1
2
3
2.0

In [ ]:
점심 메뉴 추천

In [5]:
import random

menus = ['백반', '김치 찌개', '짜장면', '햄버거', '순댓국', '돈까스', '설렁탕', '분식', '샌드위치', '비빔밥', '도시락','제육볶음','보쌈정식']
prices = [7000, 8000, 6000, 6500, 8000, 8000, 7000, 10000, 6000, 8000, 7500, 8000, 7500]

print('메뉴:')
for menu, price in zip(menus, prices):
    print(menu, price)
'''
백반 7000
김치 찌개 8000
짜장면 6000
햄버거 6500
순댓국 8000
돈까스 8000
설렁탕 7000
분식 10000
샌드위치 6000
비빔밥 8000
도시락 7500
제육볶음 8000
보쌈정식 7500
'''

i = random.randint(0, len(menus) - 1)
print('힘들고 지치고 피곤하신  당신에게 힘내라고  추천하는 점심 메뉴:', menus[i])
print('추천한 점심 메뉴 가격은:', prices[i])

메뉴:
백반 7000
김치 찌개 9000
짜장면 6000
햄버거 6500
순댓국 8000
돈까스 8000
설렁탕 7000
분식 10000
샌드위치 7000
비빔밥 8000
도시락 7500
제육볶음 8000
보쌈정식 7500
힘들고 지치고 피곤하신  당신에게 힘내라고  추천하는 점심 메뉴: 도시락
추천한 점심 메뉴 가격은: 7500

In [ ]:
#[과제] strings를 다양한 문자 포함된 순서로 정렬하세요
strings = ['a','ca','bar','aaaa','ababa']

In [13]:
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [12]:
import operator
diS={}
strings=['a', 'ca', 'bar', 'aaaa', 'ababa']
#strings를 키로하여, 문자가짓수를 벨류로 하는 딕셔너리 만들기
for i in strings:
    cnt=0
    stri=''
    for j in i:
        if j not in stri:
            cnt += 1
            stri += j
        diS[i]=cnt        

#딕셔너리를 소트하여 튜플로
sortsel = sorted(diS.items(), reverse=True, key=operator.itemgetter(1))
#튜플로 나온 결과를 앞부분만 리스트로
Olst=[]
for i in sortsel:
    Olst.append(i[0])
    
print(Olst)

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [9]:
my_data_string = ['a','ca','bar','aaaa','ababa']
priority_dict = {'bar': 0, 'ababa': 1, 'ca': 2, 'aaaa': 3, 'a': 4}
sorted(my_data_string, key=lambda x: priority_dict[x])

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
#{과제}튜플 형태인 string를 다양한 문자가 포함된 순서로 정렬하세요.
string = ('a','ca','bar','aaaa','ababa')

In [19]:
lists = list(strings)
lists.sort(key=lambda x:len(set(x)))
lists[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
s ='abcdefg'
s = 'gredcba'로

In [23]:
s = 'abcdefg'
s_list = list(s)
s_list.reverse()
s_list
print(''.join(s_list))

gfedcba

In [24]:
string = 'abcdefg'
reversed_str = string[::-1]

print(f'Original String: {string}')
print(f'Reversed String: {reversed_str}')

Original String: abcdefg
Reversed String: gfedcba

In [25]:
s = 'abcdefg'
r = s[::-1]
print(r)

gfedcba

In [ ]:
#dcb만 출력

In [26]:
s='abcdefg'
s1=list(s)
s[3:0:-1]

'dcb'

In [34]:
s='abcdefg'
s1=list(s)
s[3:0:-1]

'd'

In [28]:
print(s[::-1])
print(s[6::-1])

gfedcba
gfedcba