In [ ]:
#[1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요(내장함수, 사용자 함수 각각 이용)

In [6]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

In [7]:
# for ~ continue ~ break
# 1~25범위의 정수에서 1부터 10까지만 출력하세요
for i in range(1,26):
    print(i,end=' ')
    if i < 10:
        continue
    else:
        break

1 2 3 4 5 6 7 8 9 10

In [20]:
#numbers 리스트에서 15,20,25를 출력하세요(for문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]
for number in numbers:
    if(number%5==0 and number>5):
        print(number, end=' ')
    else:
        continue

15 20 25

In [ ]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

In [23]:
i = 1
sum = 0
while 1:
    sum = sum + i
    if sum > 1000:
        print(i)
        print(sum)
        break
    i = i + 1

45
1035

In [25]:
# while
# 정수 1부터 n까지 더할 때 그 합이 250보다 커지게 되는 n과 합을 구하세요
i = 1
sum = 0
while 1:
    sum = sum + i
    if sum > 250:
        print(i)
        print(sum)
        break
    i = i + 1

22
253

In [ ]:
# while를 사용해서 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요

In [26]:
i = 0
sum = 0
while i< 1000:
    i += 1
    if i%3==0:
        sum = sum + 1
        
print(sum)

333

In [27]:
# while를 사용해서 1부터 100까지의 정수 중 2의 배수의 합을 구해 보세요
i = 0
sum = 0
while i < 100:
    i += 1
    if i%2==0:
        sum = sum + 1
print(sum)

50

In [28]:
# while를 사용해서 1부터 100까지의 정수중 20~98 까지의 합을 구해 보세요
i = 0
sum = 0
while i < 100:
    i += 1
    if i > 20 and i < 98:
        sum = sum + 1
print(sum)

77

In [5]:
# while를 사용해서 1부터 100까지의 정수중 3의 배수와 7의 공배수의 합을 구해 보세요
i = 0
sum = 0
while i< 100:
    i+= 1
    if i%21==0:
        sum+=i
        
print(sum)

210

In [10]:
# 과제 1부터 100까지의 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요
#1*99~~99*1

n = 1
result = 0
while n <= 100:
    a = n*(100-n)
    if a > result:
        result = a
        n += 1
    else:
        n += 1
        continue
print(result)

2500

In [ ]:
# 사용자가 입력한 게임 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.

In [16]:
from random import shuffle
num = int(input('게임 횟수: '))
for i in range(num):
    lt = [x+1 for x in range(45)]
    ret = []
    for j in range(6):
        shuffle(lt)
        mm = lt.pop()
        ret.append(mm)
        ret.sort()
    print('로또번호 %d :  ' %(i+1), end = '')
print(ret)

게임 횟수: 5
로또번호 1 :  로또번호 2 :  로또번호 3 :  로또번호 4 :  로또번호 5 :  [2, 7, 17, 30, 33, 35]

In [ ]:
# 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [2,4]

In [1]:
num = lambda a : a*a
lt = [num(i) for i in range(1,6)]
print(lt)

lst_3= [1,2,3,4,5]
filtered_list = filter(lambda a: (a < 3), lst_3)

print(list(filtered_list))

[1, 4, 9, 16, 25]
[1, 2]

In [1]:
square = lambda a: a*a 
lst = [square(i) for i in range(1,6)]
print(lst)

lst_2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a < 3), lst_2)

print(list(filtered_list))

[1, 4, 9, 16, 25]
[1, 2]

In [4]:
#strings를 다양한 문자 포함된 순서로 정렬하세요

strings = ['a','ca','bar','aaaa','ababa']

strings.sort(key=lambda a : len(set(a)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [6]:
strings = ['ab','ca','dd','abd','ddca']

strings.sort(key=lambda a : len(set(a)))
strings[::-1]

['ddca', 'abd', 'ca', 'ab', 'dd']

In [ ]:
# 위 코드에서 try~except~finally를 사용하여 아래와 같이 출력하세요

프로그램이 시작되었습니다.
try 구문이 시작되었습니다.
except 구문이 실행되었습니다.
finally 구문이 실행되었습니다
프로그램이 종료되었습니다.

In [13]:
print('프로그램이 사작되었다.')
while 1:
    try: 
        int(a)
        break
    except:
        print('except 구문이 시작되었습니다. ')
        break
    finally:
        print('finally 구문이 실행되었습니다. ')
        break
print('프로그램이 종료되었습니다.')

프로그램이 사작되었다.
except 구문이 시작되었습니다.
finally 구문이 실행되었습니다.
프로그램이 종료되었습니다.

In [ ]:
#숫자 대신 문자를 입력 시 에외가 발생되는데 아래 코드를 수정해서 예외 객체의자료형과 예외 객체 자체를 출력하세요

num_input = int(input('정수 입력>'))
print('원의 반지름:', num_input)
print('원의 둘레:', 2*3.14*num_input)
print('원의 넓이:', 3.14*num_input*num_input)

In [16]:
try:
    num_input = int(input('정수 입력>'))
except ValueError:
    print('정수만 입력하세요')
finally:
    print('예외 처리 완료')
print('원의 반지름:', num_input)
print('원의 둘레:', 2*3.14*num_input)
print('원의 넓이:', 3.14*num_input*num_input)

정수 입력>rk
정수만 입력하세요
예외 처리 완료
원의 반지름: 2
원의 둘레: 12.56
원의 넓이: 12.56

In [ ]:
#아래 코드를 보완하여 발생 가능한 모든 예외(정수,인덱스, 미리 파악하지 못한 예외)를 처리한후 마지막에"모든예외처리 완료"를 출력

list_num = [52,273,32,72,100]

num_input = int(input('정수 입력>'))
print('{}번쨰 요소: {}'.format(num_input,list_num[num_input-1]))

In [18]:
list_num = [52,273,32,72,100]

try:
    num_input = int(input('정수 입력>'))
    print('{}번쨰 요소: {}'.format(num_input,list_num[num_input-1]))
except ValueError:
    print('정수만 입력하세요')
except IndexError:
    print('인덱스 오류, 범위의 값 입력')
except ExceptionError:
    print('정수 값을 입력')
finally:
    print("모든예외처리 완료")

정수 입력>3
3번쨰 요소: 32
모든예외처리 완료

In [ ]:
#[과제] 4칙 연산 기능을 포함한 Cal4 클래스(생성자 이용)을 작성하고 이 클래스를 이용하여 cal 계산기 객체를 만든 후
# 적절한 수를 적용하여 사칙연산 수행 결과를 출력하세요.

In [5]:
class FourCal:
    def __init__self(m1,m2):
        self.m1 = m1
        self.m2 = m2
class Sum:
    def sum(self,m1,m2):
        return m1 + m2
class Mul:
    def mul(self,m1,m2):
        return m1 - m2
class Div:
    def div(self,m1,m2):
        return m1 / m2
class Cal(Sum,Mul,Div):
    def sub(self,m1,m2):
        return m1 * m2
    
obj = Cal()
print(obj.sum(2,2))
print(obj.mul(3,1))
print(obj.div(2,4))
print(obj.sub(2,2))

4
2
0.5
4

In [5]:
class FourCal:
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
class Sum:
    def sum(self,m1,m2):
        return m1 * m2
class Mul:
    def mul(self,m1,m2):
        return m1 - m2
class Div:
    def div(self,m1,m2):
        return m1 / m2
class Cal(Sum,Mul,Div):
    def sub(self,m1,m2):
        return  m1 + m2
obj = Cal()

print(obj.sum(1,2))
print(obj.mul(3,2))
print(obj.div(4,2))
print(obj.sub(1,1))

2
1
2.0
2

In [1]:
#클래스 MyClasss를 작성하고 객체를 생성하여 아래와 같이 출력하세요(생성자)
# dlwogh, 안녕하세요
# dlwogh! 다음에 보자
class Myclass:
    def __init__(self,name):
         self.name=name
    def sayHello(self):
         print(f'{self.name}, 안녕하세요')
    def sayBye(self):
         print(f'{self.name}, 다음에 보자')
            
obj=MyClass('이재호')
obj.sayHello()
obj.sayBye()

NameError: name 'MyClass' is not defined

In [ ]:
#기본가격 1000인 2개의 상품에 대하여 임의의 추가 가격을 입력시 아래 두개의 방식으로 산출하세요(class이용)
#price1 : 기본가격 + 추가가격
#price2 : (기본가격 + 추가가격) *90%    

class order:
    def __init__(self):
        self.basic=1000
    def m2(self,add):
        return self.basic+add
    def m3(self,add):
        return round((self.basic+add)*0.9)
    
a=order()
b=order()

print(a.m2(1000))
print(b.m3(1000))

In [3]:
class order:
    def __init__(self):
        self.basic=1000
    def m2(self,add):
        return self.basic+add
    def m3(self,add):
        return round((self.basic+add)*0.9)
a = order()
b = order()

print(a.m2(1000))
print(a.m3(1000))

2000
1800

In [4]:
class order:
    def __init__(self):
        self.basic=2000
    def m2(self,add):
        return round((self.basic+add)*0.7)
    def m3(self,add):
        return round((self.basic+add)*0.4)
a = order()
b = order()

print(a.m2(2000))
print(b.m3(2000))

2800
1600

In [ ]:
#[과제] 4칙 연산 기능을 포함한 Cal4 클래스(생성자 이용)을 작성하고 이 클래스를 이용하여 cal 계산기 객체를 만든 후
# 적절한 수를 적용하여 사칙연산 수행 결과를 출력하세요.

In [ ]:
class Cal():
    def __init__(cal, x, y):
        cal.x=x
        cal.y=y
        
    def getSum(cal):
        print(f'{cal.x} + {cal.y} = {cal.x+cal.y}')
    def getSub(cal):
        print(f'{cal.x} - {cal.y} = {cal.x-cal.y}')
    def getMul(cal):
        print(f'{cal.x} * {cal.y} = {cal.x*cal.y}')
    def getDiv(cal):
        print(f'{cal.x} / {cal.y} = {cal.x/cal.y}')
            
    def getAll(cal):
        cal.getSum()
        cal.getSub()
        cal.getMul()
        cal.getDiv()       

while 1:
    x=int(input("첫 번째 숫자 입력:"))
    y=int(input("두 번째 숫자 입력: "))
    if x == 0 or y == 0:
        print('0이 아닌 수를 입력하세요')
    else:
        cal = Cal(x,y)
        cal.getAll()
        break

In [14]:
class Cal():
    def __init__(cal,x,y):
        cal.x=x
        cal.y=y
    
    def Sum(cal):
        print(f'{cal.x} + {cal.y} = {cal.x+cal.y}')
    def Sub(cal):
        print(f'{cal.x} - {cal.y} = {cal.x+cal.y}')
    def Div(cal):
        print(f'{cal.x} / {cal.y} = {cal.x / cal.y}')
    def Mul(cal):
        print(f'{cal.x} * {cal.y} = { cal.x * cal.y}')
        
    def All(cal):
        cal.Sum()
        cal.Sub()
        cal.Mul()
        cal.Div()
while 1:
    x=int(input("첫번째 숫자 입력: "))
    y=int(input("두번째 숫자 입력 "))
    if x ==0 or y ==0:
        print('0이 아닌 수를 입력')
    else:
        cal = Cal(x,y)
        cal.All()
        break

첫번째 숫자 입력: 10
두번째 숫자 입력 2
10 + 2 = 12
10 - 2 = 12
10 * 2 = 20
10 / 2 = 5.0

In [13]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x -self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self,x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.sum()
        self.mul()
        self.div()
        self.sub()
while 1:
    x=int(input("첫 번째 숫자: "))
    y=int(input("두 번째 숫자: "))
    if x ==0 or y == 0:
        print('0이 아닌 숫자 입력: ')
    else:
        self = Cal(x,y)
        cal.All()
        break

첫 번째 숫자: 10
두 번째 숫자: 2

NameError: name 'cal' is not defined

In [ ]:
#기본가격 1000인 2개의 상품에 대하여 임의의 추가 가격을 입력시 아래 두개의 방식으로 산출하세요(class이용)
#price1 : 기본가격 + 추가가격
#price2 : (기본가격 + 추가가격) *90%    

class order:
    def __init__(self):
        self.basic=1000
    def m2(self,add):
        return self.basic+add
    def m3(self,add):
        return round((self.basic+add)*0.9)
    
a=order()
b=order()

print(a.m2(1000))
print(b.m3(1000))

In [13]:
class order:
    def __init__(self):
        self.basic=1000
    def m2(self,add):
        return round((self.basic+add)*0.3)
    def m3(self,add):
        return round((self.basic+add)*0.2)
a = order()
b = order()

print(a.m2(2000))
print(b.m3(2000))

900
600

In [ ]:
# Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력 가격에 원이추가되도록 하세요
class Order:
    def __init__(self, name):
        self.customer = 0
        self.name = name
    def order(self,price):
        self.customer += price
        return self.customer

class ExtraOrder(Order):
    def order(self,price):
        self.customer += price
        return str(self.customer)+'원'
    
order = Order('kevin')
print(order.order(1000))

extraCustomer = ExtraOrder('kevin')
print(extraCustomer.order(1000))

In [15]:
class Order:
    def __init__(self,name):
        self.customer = 0
        self.name = name
    def order(self,price):
        self.customer += price
        return self.customer
class ExtraOrder(Order):
    def order(self,price):
        self.customer += price
        return str(self.customer)+'원'
    
order = Order('dlwogh')
print(order.order(1000))

extraCustomer = ExtraOrder('dlwogh')
print(extraCustomer.order(1000))

1000
1000원

In [16]:
class Order:
    def __init__(self,name):
        self.customer = 0
        self.name = name
    def order(self,price):
        self.customer += price
        return self.customer
class ExtraOrder(Order):
    def order(self,price):
        self.customer += price
        return str(self.customer)+'원'
    
order = Order('dlwogh')
print(order.order(1000))

extraCustomer = ExtraOrder('dlwogh')
print(extraCustomer.order(1000))

1000
1000원

In [ ]:
#numbers 리스트에서 15,20,25를 출력하세요(for문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]

In [17]:
numbers = [5,15,6,20,7,25]
for number in numbers:
    if(number%5==0 and number>5 ):
        print(number, end=' ')
    else:
        continue

15 20 25

In [21]:
numbers = [5,15,6,20,7,25]
for number in numbers:
    if(number%3==0):
        print(number, end=' ')
    else:
        continue

15 6

In [26]:
#1부터 100까지의 정수중 5에서 95까지의 합을 구하세요
i = 0
sum = 0

while i<100:
    i+=1
    if i >= 5 and i <= 95:
        sum += i
print(sum)

4550

In [27]:
i = 0
sum = 0

while i<101:
    i+=1
    if i>0 and i < 101:
        sum += i
        
print(sum)

5050

In [28]:
i = 0
sum = 0

while i <1000:
    i+=1
    if i >=25 and i < 1000:
        sum += i
print(sum)

499200

In [ ]:
 #while문을 사용해서 1부터 1000까지의 정수중 3과 5의 공배수의 합을 구해보세요

In [30]:
i = 0
sum = 0

while i <1000:
    i +=1
    if i%3== 0 or i%5== 0:
        sum += i
print(sum)

234168

In [ ]:
#정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

In [4]:
x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [2]:
x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [ ]:
정수 1부터 n까지 곱할 때 그 곱이 1000보다 커지게 되는 n과 합을 구하세요

In [6]:
x = 1
sum = 1

while 1:
    sum = sum * x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x * (x+ 1)

1806
910224

In [ ]:
#정수 1부터 n까지 더할 때 그 합이 2500보다 커지게 되는 n과 합을 구하세요

In [5]:
x = 1
sum = 0

while 1:
    sum = sum + x
    if sum >2500:
        print(x)
        print(sum)
        break
    x = x + 1

71
2556

In [ ]:
# 과제 1부터 100까지의 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요
1*99,2*98,.....,99*1

In [ ]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

In [ ]:
n = 1 
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        contuine
print(result)

In [ ]:
[과제] while문을 사용해서 1부터 1000까지의 정수중 3과 5의 공배수의 합을 구해보세요

In [ ]:
i=0
sum=0
while i<1000:
    i+=1
    if i%15==0:
        sum+=i
print(sum)

In [7]:
i=0
sum=0
while i<2000:
    i+=1
    if i%21==0:
        sum+=i
print(sum)

95760

In [8]:
i=0
sum=0
while i<1000:
    i+=1
    if i%3==0:
        sum+=i
print(sum)

166833

In [9]:
i=0
sum=0
while i<1000:
    i+=1
    if i%5==0:
        sum+=i
print(sum)

100500

In [10]:
i=0
sum=0
while i<1000:
    i+=1
    if i%7==0 and i%10==0:
        sum+=i
print(sum)

7350

In [23]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x -self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self,x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.sum()
        self.mul()
        self.div()
        self.sub()
while 1:
    x=int(input("첫 번째 숫자: "))
    y=int(input("두 번째 숫자: "))
    if x ==0 or y == 0:
        print('0이 아닌 숫자 입력: ')
    else:
        self = Cal(x,y)
        cal.All()
        break

첫 번째 숫자: 5
두 번째 숫자: 4
5 + 4 = 9
5 - 4 = 9
5 * 4 = 20
5 / 4 = 1.25

In [3]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x /self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
while 1:
    x=int(input("첫 번쨰 숫자: "))
    y=int(input("두 번째 숫자: "))
    if x ==0 or y ==0:
        print('0이 아닌 숫자 입력')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번쨰 숫자: 1
두 번째 숫자: 2
1 + 2 = 3
1 - 2 = -1
1 / 2 = 0.5
1 * 2 = 2

In [3]:
class Cal():
    def __init__(cal,x,y):
        cal.x=x
        cal.y=y
    
    def Sum(cal):
        print(f'{cal.x} + {cal.y} = {cal.x+cal.y}')
    def Sub(cal):
        print(f'{cal.x} - {cal.y} = {cal.x+cal.y}')
    def Div(cal):
        print(f'{cal.x} / {cal.y} = {cal.x / cal.y}')
    def Mul(cal):
        print(f'{cal.x} * {cal.y} = { cal.x * cal.y}')
        
    def All(cal):
        cal.Sum()
        cal.Sub()
        cal.Mul()
        cal.Div()
while 1:
    x=int(input("첫번째 숫자 입력: "))
    y=int(input("두번째 숫자 입력 "))
    if x ==0 or y ==0:
        print('0이 아닌 수를 입력')
    else:
        cal = Cal(x,y)
        cal.All()
        break

첫번째 숫자 입력: 4
두번째 숫자 입력 5
4 + 5 = 9
4 - 5 = 9
4 * 5 = 20
4 / 5 = 0.8

In [ ]:
#[1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요(내장함수, 사용자 함수 각각 이용)

In [ ]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x > 0 , x))

In [1]:
x=[1,-3,2,0,-5,6,7]
list(filter(lambda x: x < 0, x))

[-3, -5]

In [2]:
x=[1,-3,2,0,-5,6,7]
list(filter(lambda x: x > 0 and x%2==1, x))

[1, 7]

In [4]:
x=[1,-3,2,0,-5,6,-7]
list(filter(lambda x: x < 0 and x%2==1, x))

[-3, -5, -7]

In [ ]:
# strings를 다양한 문자 포함된 순서로 정렬하세요
strings = ['a','ca','bar','aaaa','ababa']

In [ ]:
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

In [6]:
strings = ['a,','ab','abc','abab','aaabb']
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

['abc', 'aaabb', 'abab', 'ab', 'a,']

In [11]:
my_data_string = ['a','ca','bar','aaaa','ababa']
priority_dict = {'bar': 0, 'ababa': 1, 'ca': 2, 'aaaa': 3, 'a': 4}
sorted(my_data_string, key=lambda x: priority_dict[x])

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [15]:
my_data_string = ['a','ca','bar','abab','bbbb','br']
priority_dict = {'bar': 0, 'br': 1, 'abab': 2, 'a': 3, 'ca': 4, 'bbbb': 5}
sorted(my_data_string, key=lambda x: priority_dict[x])

['bar', 'br', 'abab', 'a', 'ca', 'bbbb']

In [ ]:
{과제}튜플 형태인 string를 다양한 문자가 포함된 순서로 정렬하세요.
string = ('a','ca','bar','aaaa','ababa')

In [16]:
my_data_string = ['a','ca','bar','aaaa','ababa']
priority_dict = {'bar': 0, 'ca': 1, 'ababa': 2, 'aaaa': 3, 'a': 4}
sorted(my_data_string, key=lambda x: priority_dict[x])

['bar', 'ca', 'ababa', 'aaaa', 'a']

In [ ]:
# 사용자가 입력한 게임 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.

In [ ]:
from random import shuffle
from time import sleep

gnum = int(input('로또 횟수를 입력하세요> '))
for i in range(gnum):
    lt = [x+1 for x in range(45)]
    ret = []
    for j in range(6):
        shuffle(lt)
        num = lt.pop()
        ret.append(num)
        ret.sort()
    print('로또번호 %d: ' %(i+1), end='')
    print(ret)
    sleep(1)

In [18]:
from random import shuffle

rt = int(input('로또 횟수 입력>'))
for i in range(rt):
    lt = [x+1 for x in range(45)]
    ret = []
    for j in range(6):
        shuffle(lt)
        rt = lt.pop()
        ret.append(rt)
        ret.sort()
    print('로또 번호 %d: ' %(i+1), end='')
    print(ret)

로또 횟수 입력>4
로또 번호 1: [5, 12, 15, 19, 23, 25]
로또 번호 2: [2, 8, 29, 32, 40, 41]
로또 번호 3: [9, 17, 23, 28, 42, 44]
로또 번호 4: [5, 13, 22, 23, 27, 30]

In [ ]:
class Cal():
    def __init__(cal, x, y):
        cal.x=x
        cal.y=y
        
    def getSum(cal):
        print(f'{cal.x} + {cal.y} = {cal.x+cal.y}')
    def getSub(cal):
        print(f'{cal.x} - {cal.y} = {cal.x-cal.y}')
    def getMul(cal):
        print(f'{cal.x} * {cal.y} = {cal.x*cal.y}')
    def getDiv(cal):
        print(f'{cal.x} / {cal.y} = {cal.x/cal.y}')
            
    def getAll(cal):
        cal.getSum()
        cal.getSub()
        cal.getMul()
        cal.getDiv()       

while 1:
    x=int(input("첫 번째 숫자 입력:"))
    y=int(input("두 번째 숫자 입력: "))
    if x == 0 or y == 0:
        print('0이 아닌 수를 입력하세요')
    else:
        cal = Cal(x,y)
        cal.getAll()
        break

In [4]:
class Cal():
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.sum()
        self.mul()
        self.div()
        self.sub()
        
while 1:
    x=int(input('첫 번째 숫자: '))
    y=int(input('두 번쨰 숫자: '))
    if x ==0 or y ==0:
        print('0이아닌수를 입력: ')
    else:
        self = Cal(x,y)
        cal.All()
        break

첫 번째 숫자: 4
두 번쨰 숫자: 3

NameError: name 'cal' is not defined

In [6]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x /self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
while 1:
    x=int(input("첫 번쨰 숫자: "))
    y=int(input("두 번째 숫자: "))
    if x ==0 or y ==0:
        print('0이 아닌 숫자: ')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번쨰 숫자: 5
두 번째 숫자: 4
5 + 4 = 9
5 - 4 = 1
5 / 4 = 1.25
5 * 4 = 20

In [8]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
    
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
        
while 1:
    x = int(input('첫 번 째 숫자 입력: '))
    y = int(input('두 번째 숫자 입력:'))
    if x ==0 or y ==0:
        print('0이 아닌 숫자: ')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번 째 숫자 입력: 5
두 번째 숫자 입력:4
5 + 4 = 9
5 - 4 = 1
5 / 4 = 1.25
5 * 4 = 20

In [ ]:
# 2와 5를 더한 후 3으로 나눈 나머지 값을 사용자 함수를 이용하여 구하세요
def cal_abc(a,b,c):
    return(a+b)%c
cal_abc(2,5,3)

In [9]:
def cal_abc(a,b,c,):
    return(a+b)%c
cal_abc(2,4,3)

0

In [ ]:
# 람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고 
# a,b가 아래와 같이 주어졌을떄 각각의 값을 구하세요
# a = 2, b =5
# a = 5 b =2

In [10]:
x = lambda x: x**5
x(2)

32

In [11]:
x = lambda x: x**2
x(5)

25

In [ ]:
#numbers 리스트에서 15,20,25를 출력하세요(for문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]

In [ ]:
numbers = [ 5, 15, 6, 20, 7, 25 ]
for number in numbers:
    if(number%5==0 and number>5):
        print(number, end=' ')
    else:
        continue

In [12]:
numbers = [2,3,5,10,20,14]
for number in numbers:
    if(number%3==2 and number>2):
        print(number, end=' ')
    else:
        continue

5 20 14

In [ ]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

In [14]:
for i in range(1,100):
    print(i,end=' ')
    if i < 40:
        continue
    else:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

In [15]:
x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [19]:
x = 1
sum = 1
while 1:
    sum = sum * x
    if sum >1000:
        print(x)
        print(sum)
        break
    x =  x + 1

7
5040

In [ ]:
# [과제] while문을 사용해서 1부터 1000까지의 정수중 3과 5의 공배수의 합을 구해보세요

In [ ]:
i=0
sum=0
while i<1000:
    i+=1
    if i%15==0:
        sum+=i
print(sum)

In [21]:
i = 0
sum = 0
while i <1000:
    i+=1
    if i%14==0:
        sum+=i
print(sum)

35784

In [23]:
#{4,8,5,4,8,4,3,9,1,9}를 내림차순으로 정렬하세요

a= [4,8,5,4,8,4,3,9,1,9]
a_d = sorted(a ,reverse=True)
print(a_d)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [24]:
i=0
sum=0
while i < 1000:
    i+=1
    if i %2==1:
        sum+=i
print(sum)

250000

In [ ]:
i=0
sum=0

while i<1000:
    i+=1
    if i%3==0:
        sum =sum+i

print(sum)

In [25]:
i = 0
sum = 0
while i <100:
    i+=1
    if i%2==0:
        sum = sum+i
print(sum)

2550

In [26]:
i = 0
sum = 0
while i<100:
    i+=1
    if i%2==1:
        sum = sum+i
print(sum)

2500

In [4]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x +self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
        
while 1:
    x = int(input('첫 번째 숫자 입력: '))
    y = int(input('두 번째 숫자 입력: '))
    if x ==0 or y ==0:
        print('0이 아닌 숫자: ')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번째 숫자 입력: 5
두 번째 숫자 입력: 4
5 + 4 = 9
5 - 4 = 1
5 / 4 = 1.25
5 * 4 = 20

In [ ]:
#[과제] 아래 코드를 보완하여 발생 가능한 모든 예외(정수,인덱스, 미리 파악하지 못한 예외)를 처리한후 마지막에"모든예외처리 완료"를 출력

list_num = [52,273,32,72,100]

num_input = int(input('정수 입력>'))
print('{}번쨰 요소: {}'.format(num_input,list_num[num_input-1]))

In [7]:
list_num = [52,273,32,72,100]

try:
    num_input = int(input('정수 입력>'))
    print('{}번째 요소: {}'.format(num_input,list_num[num_input-1]))
except IndexError:
    print('인덱스 오류, 범위의 값을 입력하세요')
except ValueError:
    print('정수 값을 입력하세요')
except Exception:
    print('정수 값 입력하세요')
finally:
    print('모든 예외 처리 완료')

정수 입력>가
정수 값을 입력하세요
모든 예외 처리 완료

In [ ]:
class MyClass:
    def sayHello(self):
        print('안녕하세요')
    def sayBye(self,name):
        print(f'{name}! 다음에 보자')
        
obj = MyClass()
obj.sayHello()
obj.sayBye('kevin')

In [ ]:
class MyClass:
    def sayHello(self):
        print('안녕하세요')
    def sayBye(self,name):
        print(f'{name}! 다음에 보자')
        
obj = MyClass()
obj.sayHello()
obj.sayBye('dlwogh')

In [ ]:
프로그램이 시작되었습니다.
try 구문이 시작되었습니다.
except 구문이 실행되었습니다.
finally 구문이 실행되었습니다
프로그램이 종료되었습니다.

In [8]:
print('프로그램이 시작되었습니다.')
while 1:
    try:
        print('try구문이 시작되었습니다.')
        break
    except:
        print('except구문이 시작되었습니다. ')
        break
    finally:
        print('finally구문이 실행되었습니다.')
print('프로그램이 종료되었습니다. ')

프로그램이 시작되었습니다.
try구문이 시작되었습니다.
finally구문이 실행되었습니다.
프로그램이 종료되었습니다.

In [ ]:
# [과제] 숫자 대신 문자를 입력 시 에외가 발생되는데 아래 코드를 수정해서 예외 객체의자료형과 예외 객체 자체를 출력하세요

num_input = int(input('정수 입력>'))
print('원의 반지름:', num_input)
print('원의 둘레:', 2*3.14*num_input)
print('원의 넓이:', 3.14*num_input*num_input)

In [9]:
try:
    num_input(int(input('정수 입력>')))
except:
    print('문자만 ')
finally:
    print('예외 처리 완료')
print('원의 반지름:', num_input)
print('원의 둘레:', 2*3.14*num_input)
print('원의 넓이:', 3.14*num_input*num_input)

정수 입력>가
문자만
예외 처리 완료
원의 반지름: 4
원의 둘레: 25.12
원의 넓이: 50.24

In [ ]:
# strings를 다양한 문자 포함된 순서로 정렬하세요
strings = ['a','ca','bar','aaaa','ababa']

In [ ]:
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

In [ ]:
my_data_string = ['a','ca','bar','aaaa','ababa']
priority_dict = {'bar': 0, 'ababa': 1, 'ca': 2, 'aaaa': 3, 'a': 4}
sorted(my_data_string, key=lambda x: priority_dict[x])

In [12]:
strings = ['a','ca','bar','aaaa','ababa']
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
strings = ['aa','ab','abc','addbb','abba']

In [15]:
def sub_div(choice,*args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
            result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print('오류')
            result /= i
        return result
    
print(sub_div('sub', 2,4,6,8,10))
print(sub_div('div', 2,4,6,8,10))

-26
0.0010416666666666667

In [ ]:
#[과제] 뺼셈, 나누셈 멀티 계산 함수 작성
#('sub',2,4,6,8,10)
#('div',2,4,6,8,10)

In [14]:
def sub_div(choice, *args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
            result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print('오류')
            result /= i
        return result
print(sub_div('sub', 4,3,7,9,11))
print(sub_div('div', 4,3,7,9,11))

-26
0.0019240019240019239

In [17]:
def sub_div(choice, *args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
            result += i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print('오류')
            result *= i
        return result
    
print(sub_div('sub', 4,3,7,9,11))
print(sub_div('div', 4,3,7,9,11))

34
8316

In [19]:
def sub_div(choice, *args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
            result += i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print('오류')
            result -= i
        return result
    
print(sub_div('sub',1,3,5,7,9,11))
print(sub_div('div',1,3,5,7,9,11))

36
-34

In [21]:
def sub_div(choice, *args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
            result *= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i ==0:
                return print('오류')
            result /= i
        return result
    
print(sub_div('sub',1,3,5,7,9,11))
print(sub_div('div',1,3,5,7,9,11))

10395
9.620009620009618e-05

In [22]:
# 기본 가격 1000원인 3개의 상품에 대하여 임의의 추가 가격을 인수로 대입시 더한 가격을 산출하세요

class Order:
    def __init__(self):
        self.p = 1000
    def order(self,price):
        
        self.p += price
        return self.p
    
    
pd1 = Order()
pd2 = Order()
pd3 = Order()

print(pd1.order(1000))
print(pd2.order(2000))
print(pd3.order(3000))

2000
3000
4000

In [23]:
class Order:
    def __init__(self):
        self.p = 1000
    def order(self,price):
        
        self.p += price
        return self.p
pd1 = Order()
pd2 = Order()

print(pd1.order(1000))
print(pd2.order(2000))

2000
3000

In [ ]:
# 기본가격 1000인 2개의 상품에 대하여 임의의 추가 가격을 입력시 아래 두개의 방식으로 산출하세요(class이용)
price1 : 기본가격 + 추가가격
price2 : (기본가격 + 추가가격) *90%

In [28]:
class Order:
    def __init__(self):
        self.basic = 1000
    def m2(self,add):
        return self.basic + add
    def m3(self,add):
        return round((self.basic + add)*0.9)
a = Order()
b = Order()

print(a.m2(1000))
print(b.m3(2000))

2000
2700

In [29]:
class Order:
    def __init__(self):
        self.basic = 1000
    def m2(self,add):
        return round((self.basic+add)*0.3)
    def m3(self,add):
        return round((self.basic+add)*0.5)
a = Order()
b = Order()

print(a.m2(2000))
print(b.m3(1000))

900
1000

In [33]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x /self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
    
    def All(cal):
        self.Sum()
        self.Mul()
        self. Div()
        self. Sub()
              
while 1:
    x = int(input('첫 번째 숫자 입력: '))
    y = int(input('두 번째 숫자 입력: '))
    if x ==0 or y ==0:
              print('0이 아닌 수 입력 ')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번째 숫자 입력: 8
두 번째 숫자 입력: 7
8 + 7 = 15
8 - 7 = 1
8 / 7 = 1.1428571428571428
8 * 7 = 56

In [ ]:
#[1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x > 0 , x))

In [34]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x < 0, x))

[-3, -5]

In [36]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x%2==0 and  x > 0, x))

[2, 6]

In [37]:
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x%2==1 and x < 0,x))

[-3, -5]

In [38]:
x=[1,3,2,-2,-5,-6,4]
list(filter(lambda x: x%3==0 and x < 0, x))

[-6]

In [40]:
x=[1,3,-2,5,-7,-2,-3]
list(filter(lambda x: x%2==1 and x < 0, x))

[-7, -3]

In [42]:
x=[1,3,2,5,-7,-2,-3]
list(filter(lambda x: x%2==0, x))

[2, -2]

In [44]:
x=[1,-2,5,-9,2,-4]
list(filter(lambda x: x < 0, x))

[-2, -9, -4]

In [46]:
# 입력으로 들어오는 모든 수의 평균값을 계산해주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요
def mid (*args):
    sum = 0
    for i in args:
        sum += i
    return sum/2

mid(1,2,3)

3.0

In [45]:
def mid(*args):
    sum = 0
    for i in args:
        sum += i
    return sum/2
mid(4,5,6)

7.5

In [47]:
def mid(*args):
    sum = 0
    for i in args:
        sum += i
    return sum/2
mid(2,2,3)

3.5

In [ ]:
# strings를 다양한 문자 포함된 순서로 정렬하세요
strings = ['a','ca','bar','aaaa','ababa']

In [49]:
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

['abcd', 'abc', 'ab', 'bb', 'aa']

In [50]:
strings = ['ab','abc','aa','bb','abcd']
strings.sort(key=lambda x:len(set(x)))
strings[::-1]

['abcd', 'abc', 'ab', 'bb', 'aa']

In [ ]:
my_data_string = ['a','ca','bar','aaaa','ababa']
priority_dict = {'bar': 0, 'ababa': 1, 'ca': 2, 'aaaa': 3, 'a': 4}
sorted(my_data_string, key=lambda x: priority_dict[x])

In [52]:
strings = ['abc','adad','ac','bc','ccbb']
strings.sort(key=lambda x: len(set(x)))
strings[::-1]

['abc', 'ccbb', 'bc', 'ac', 'adad']

In [ ]:
1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

In [56]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if (number %5==0 and number > 5):
        print(number, end=' ')
    else:
        continue

15 20 25

In [ ]:
#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [82]:
numbers = int(input('정수를 입력하세요: '))
if numbers %2==0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요: 12
짝수

In [109]:
numbers = int(input('정수를 입력하세요: '))
if numbers %2==0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요: 2
짝수

In [ ]:
#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요.
a = 2, b = 5 
a= 5, b = 2

In [85]:
x = lambda a,b: a**b -(a*b)
print(x(5,2))
print(x(2,5))

15
22

In [ ]:
#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [62]:
n1 = int(input('첫 번째 숫자'))
n2 = int(input('두 번째 숫자'))
if n1> n2:
    print(n1)
else:
    print(n2)

첫 번째 숫자1
두 번째 숫자5
5

In [ ]:
1#부터 100까지의 2개의 수를 곱해서 큰수

In [63]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [ ]:
#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [65]:
import re
p = re. compile(r'(\d+)-(\d+)-(\d)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [ ]:
#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [ ]:
import re
p = re.compile('((ab)(cd(e)f)(ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

In [ ]:
#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [67]:
a = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [ ]:
#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [69]:
i = 500
sum = 0
while i < 1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [ ]:
아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [ ]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [97]:
a =[1,2,3,4,5,]

b = map(power,a)
print(list(b))


list(filter(lambda a : a < 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [92]:
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
input_a = [1, 2, 3, 4, 5]

out_a = map(power, input_a)
print(list(out_a))

out_b = filter(under_3, input_a)
print(list(out_b))

[1, 4, 9, 16, 25]
[1, 2]

In [98]:
#사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [104]:
n1 =int(input('첫 정수'))
n2 = int(input('2번쨰 정수'))
if n1> n2:
    print(n1)
else:
    print(n2)

첫 정수4
2번쨰 정수5
5

In [ ]:
1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

In [2]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if (number%5==0 and number >5):
        print(number, end=' ')
    else:
        continue

15 20 25

In [ ]:
2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [ ]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [6]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a =[1,2,3,4,5,]

b = map(power,a)
print(list(b))

list(filter(lambda a : a < 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [ ]:
3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력

In [8]:
numbers = int(input('정수 입력하세요: '))
if numbers%2==0:
    print('짝수')
else:
    print('홀수')

정수 입력하세요: 4
짝수

In [ ]:
4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서 a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요.

In [9]:
x = lambda a,b: a**b -(a*b)
print(x(2,5))
print(x(5,2))

22
15

In [12]:
# 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)
def cal_ab(a,b):
    return (a//b, a%b)
cal_ab(97,45)

(2, 7)

In [15]:
# 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.
n1 = int(input('첫 번째 숫자'))
n2 = int(input('두 번쨰 숫자'))
if n1>n2:
    print(n1)
else:
    print(n2)

첫 번째 숫자34
두 번쨰 숫자32
34

In [ ]:
10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

In [18]:
n =1 
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n +=1 
    else:
        n+=1
        continue
print(result)

2500

In [ ]:
11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [ ]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

In [ ]:
12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [ ]:
import re
p = re.compile('((ab)(cd(e)f)(ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

In [ ]:
13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [20]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [ ]:
14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [21]:
i = 500
sum = 0
while i <1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [ ]:
15. [ ]을 채워서 아래와 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[     ].append(number)
print(output)

In [22]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[  (number-1)%3 ].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
18. 사칙연산을 수행하는 클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를 포멧을 이용하여 출력하세요.

In [27]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
        
while 1:
    x=int(input('첫 번째 숫자 입력: '))
    y=int(input('두 번째 숫자 입력: '))
    if x ==0 or y ==0:
        print('0이아닌숫자 입력: ')
    else:
        self = Cal(x,y)
        self.All()
        break

첫 번째 숫자 입력: 5
두 번째 숫자 입력: 4
5 + 4 = 9
5 - 4 = 1
5 / 4 = 1.25
5 * 4 = 20

In [ ]:
16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [23]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [29]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num = {}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [ ]:
1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

In [ ]:
2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)¶

In [ ]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

In [ ]:
3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [ ]:
4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서 a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요.
a = 2, b = 5
a= 5, b = 2

In [ ]:
7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [ ]:
9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [ ]:
10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

In [ ]:
11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [ ]:
12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [ ]:
13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [ ]:
14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [ ]:
15. [ ]을 채워서 아래와 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[   ].append(number)
print(output)

# 출력 결과 [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [ ]:
18. 사칙연산을 수행하는 클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를 포멧을 이용하여 출력하세요.

In [38]:
numbers = [5,15,6,20,7,25]
for number in numbers:
    if (number%5==0 and number >5):
        print(number, end=' ')
    else:
        continue

15 20 25

In [46]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a = [1,2,3,4,5]

b = map(power,a)
print(list(b))
          
list(filter(lambda a : a < 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [49]:
numbers = int(input('정수 입력하세요: '))
if numbers%2==0:
    print('짝수')
else:
    print('홀수')

정수 입력하세요: 3
홀수

In [50]:
x = lambda a,b: a**b -(a*b)
print(x(2,5))
print(x(5,2))

22
15

In [51]:
def cal_ab(a,b):
    return (a//b, a%b)
cal_ab(97,45)

(2, 7)

In [55]:
n1 = int(input('첫 번째 숫자'))
n2 = int(input('두 번쟤 숫자'))
if n1 > n2:
     print(n1)
else: 
     print(n2)

첫 번째 숫자56
두 번쟤 숫자33
56

In [58]:
n =1
result = 0
while n<=100:
    a= n*(100-n)
    if a>result:
        result = a
        n +=1
    else:
        n+=1
        continue
print(result)

2500

In [59]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [62]:
import re
p = re.compile('((ab(cd(e)f)ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

<re.Match object; span=(0, 10), match='abcdefghij'>
abcdefghij
e

In [64]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [67]:
i = 500
sum = 0
while i < 1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [ ]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

In [68]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [71]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if(number%5==0 and number>10):
        print(number, end=' ')
    else:
        continue

15 20 25

In [73]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if(number%5==0 and number>10):
        print(number, end=' ')
    else:
        continue

15 20 25

In [76]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3
# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a = [1,2,3,4,5]

b = map(power,a)
print(list(b))

list(filter(lambda a: a < 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [78]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a =  [ 1,2,3,4,5]

b = map(power,a)
print(list(b))

list(filter(lambda a: a < 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [80]:
numbers = int(input('정수를 입력하세요'))
if numbers %2==0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요5
홀수

In [81]:
x = lambda a,b: a**b-(a*b)
print(x(2,5))
print(x(5,2))

22
15

In [83]:
divmod(97,40)

(2, 17)

In [85]:
a = int(input('첫 번째 숫자'))
b = int(input('두 번째 숫자'))

if a > b:
    print(a)
else:
    print(b)

첫 번째 숫자45
두 번째 숫자65
65

In [86]:
n =1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [87]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [90]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [91]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [ ]:
import re
p = re.compile('((ab)(cd(e)f)(ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

In [92]:
a = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [93]:
i = 500
sum = 0
while i<1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [ ]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

In [94]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [95]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if(number%5==0 and number >10):
        print(number, end=' ')
    else:
        continue

15 20 25

In [98]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a = [1,2,3,4,5]
b = map(power,a)
print(list(b))

list(filter(lambda a: a<3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [104]:
numbers = int(input('정수를 입력하세요:'))
if numbers %2==0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요:5
홀수

In [105]:
x = lambda a,b: a**b -(a*b)
print(x(2,5))
print(x(5,2))

22
15

In [106]:
divmod(97,40)

(2, 17)

In [108]:
n1 = int(input('첫 번째 숫자'))
n2 = int(input('두번쨰 숫자'))
if n1>n2:
    print(n1)
else:
    print(n2)

첫 번째 숫자12
두번쨰 숫자2
12

In [5]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a> result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [109]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [110]:
import re
p = re.compile('((ab)(cd(e)f)(ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

<re.Match object; span=(0, 10), match='abcdefghij'>
abcdefghij
e

In [112]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [116]:
i=500
sum = 0
while i <1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [ ]:
(number-1)%3

In [2]:
class Cal():
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def Sum(self):
        print(f'{self.x} + {self.y} = {self.x + self.y}')
    def Mul(self):
        print(f'{self.x} - {self.y} = {self.x - self.y}')
    def Div(self):
        print(f'{self.x} / {self.y} = {self.x / self.y}')
    def Sub(self):
        print(f'{self.x} * {self.y} = {self.x * self.y}')
        
    def All(cal):
        self.Sum()
        self.Mul()
        self.Div()
        self.Sub()
while 1:
    x=int(input('첫번쨰 정수: '))
    y=int(input('두번째 정수: '))
    if x ==0 or y ==0:
        print('0이 아닌숫자')
    else:
        self = Cal(x,y)
        self.All()
        break

첫번쨰 정수: 4
두번째 정수: 5
4 + 5 = 9
4 - 5 = -1
4 / 5 = 0.8
4 * 5 = 20

In [ ]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [8]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num ={}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [9]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num = {}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [10]:
n = 1
result = 0
while n<= 100:
    a = n*(100-n)
    if a >result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [11]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num = {}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [12]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if (number%5==0 and number>5):
        print(number, end=' ')
    else:
        continue

15 20 25

In [13]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]
a = [1,2,3,4,5]
b = map(power,a)
print(list(b))

list(filter(lambda a: a<3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [15]:
numbers = int(input('정수를 입력하세요:'))
if numbers%2==0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요:2
짝수

In [16]:
x = lambda a,b: a**b-(a*b)
print(x(2,5))
print(x(5,2))

22
15

In [17]:
divmod(97,40)

(2, 17)

In [19]:
n1= int(input('첫 번째 숫자: '))
n2 = int(input('두 번째 숫자: '))

if n1>n2:
    print(n1)
else:
    print(n2)

첫 번째 숫자: 3
두 번째 숫자: 2
3

In [21]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [23]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [ ]:
import re
p = re.compile('((ab)(cd(e)f)(ghij))+')
m = p.search('abcdefghij OK?')

print(m)
print(m.group(0))
print(m.group(4))

In [25]:
a =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [26]:
i = 500
sum = 0
while i<1000:
    i+=1
    if i %35==0:
        sum+=i
print(sum)

10535

In [ ]:
#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [27]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[ (number-1)%3    ].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [28]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num = {}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [29]:
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if(number%5==0 and number>10):
        print(number,end=' ')
    else:
        continue

15 20 25

In [30]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a = [1,2,3,4,5]
b = map(power,a)
print(list(b))

list(filter(lambda a: a< 3, a))

[1, 4, 9, 16, 25]

[1, 2]

In [34]:
numbers = int(input('정수 입력: '))
if numbers %2==0:
    print('짝수')
else:
    print('홀수')

정수 입력: 4
짝수

In [37]:
x = lambda a,b: a**b - (a*b)
print(x(2,5))
print(x(5,2))

22
15

In [38]:
divmod(97,40)

(2, 17)

In [39]:
n1 = int(input('첫 번째 숫자 입력: '))
n2 = int(input('두 번째 숫자 입력: '))
if n1>n2:
    print(n1)
else:
    print(n2)

첫 번째 숫자 입력: 4
두 번째 숫자 입력: 3
4

In [40]:
n = 1
result = 0
while n<=100:
    a = n*(100-n)
    if a>result:
        result = a
        n+=1
    else:
        n+=1
        continue
print(result)

2500

In [41]:
import re
p = re.compile(r'(\d+)-(\d+)-(\d+)')
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
m = p.search(text)
print(m.group(1))

032

In [42]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9]
del a[9]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [ ]:
(number-1)%3

In [43]:
i = 500
sum = 0
while i<1000:
    i+=1
    if i%35==0:
        sum+=i
print(sum)

10535

In [45]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num = {}
for i in set(numbers):
    dic_num[i] = numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}